.navbar-box {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgb(88, 88, 88);
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.restlogo {
    height: 100%;
    margin-left: 30px;
}

.list{
    display: flex;
    gap: 30px;
    margin-right: 30px;
}

a {
    color: rgb(224, 148, 7);
    text-decoration: none;
}

a:hover{
    color: beige;
    cursor: pointer;
    transform: scale(1.1);
}

.navbar-box-bot{
    position: fixed;
    width: 100%;
    height: 35px;
    background-color: rgb(88, 88, 88,0.5);
}