.restlogo {
    height: 100%;
    margin-left: 30px;
}

.list{
    display: flex;
    gap: 30px;
    margin-right: 30px;
}

.dropbtn{
    background-color: transparent;
    color: rgb(77, 50, 0);
    text-decoration: none;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    list-style-type: disc;
    font-size: 16px;
    padding: 0;
}

.dropbtn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

a {
    color: rgb(77, 50, 0);
    text-decoration: none;
}

a:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.dropdown-content{
    margin-top: 10px;
    background-color: rgb(216, 209, 194);
    display: flex;
    justify-content: center;
    padding-top: 3px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}