.page{
    background-color: rgb(240, 240, 240);
    min-height: 100vh;
}

.nav-sep{
    height: 50px;
}

.item{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.item-list{
border-radius: 20px;
background-color: hsl(217deg 19% 35%);
border: solid rgb(121, 121, 121) 1px;
width: 350px;
min-height: 150px;
}

.item-list:hover{
}

.title{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 0px !important;
    background-color: black;
    height: 60px;
    text-align: left !important;
}

img{
    padding-right: 20px;
    opacity: 80%;
    height: 80px;
}

.name{
margin-top: 0;
margin-left: 0 !important;
padding-left: 20px;
font-size: 18px;
color: white;
padding-top: 10px;
text-transform: uppercase;
}

.email{
    color: rgb(99, 170, 211);
    margin-left: 0;
    padding-left: 20px;
    font-size: 12px;
    font-weight: 500;
    margin-top: 2px;
}

.mes{
    padding-left: 20px;
    padding-top: 15px;
    margin-top: 0;
    font-weight: 300;
    color: white;
}