.page-admin-contact{
    background: linear-gradient(70deg, #c76099,hsl(0deg 0% 100%));
    min-height: 100vh;
}

.nav-sep-admin-contact{
    height: 50px;
}

.item-admin-contact{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.item-list-admin-contact{
border-bottom-right-radius: 20px ;
background: linear-gradient(to bottom, rgb(205 147 249),hsl(217deg 100% 75%));
border: none;
width: 350px;
min-height: 150px;
}

.item-list:hover{
}

.title-admin-contact{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    height: 60px;
    text-align: left;
    height: 60px;
}

.img-admin-contact{
    padding-right: 20px;
    height: 100px;
    margin-top: -10px;
}

.name-admin-contact{
margin-top: 10px;
margin-left: 0;
margin-bottom: 0;
padding-left: 20px;
font-size: 18px;
color: white;
padding-top: 10px;
text-transform: uppercase;
}

.email-admin-contact{
    color: rgb(0 38 177);
    margin-left: 0;
    padding-left: 20px;
    font-size: 12px;
    font-weight: 500;
    margin-top: 2px;
}

.mes-admin-contact{
    padding-left: 20px;
    padding-top: 15px;
    margin-top: 0;
    font-weight: 300;
    font-weight: 400;
    color: white;
}