.home-page{
    background: linear-gradient(#010125 60%,hsl(193deg 31% 73%));
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.react-testing{
    margin-top: 60px ;
    margin-bottom: 0px;
    color: rgb(158 201 101);
    text-shadow:0 0 3px #b9f371, 0 0 5px #d7b15b
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.mern-stack-title{
    text-underline-offset: 10px;
    font-size: 40px;
    background-color: transparent;
    color: #77b0c7;
    text-decoration: underline;
    text-underline-position: under;
    text-shadow: 20px 14px 20px #032967;
}

.card-home{
    margin-top: 30px;
    padding: 20px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 100px;
}

.home-link{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-link:hover{
    transform: scale(1.1);
    color: rgb(141, 83, 83);
}

.picture-home{
    border-radius: 20px;
    border: solid rgb(179, 179, 187);
    width: 230px;
    height: 350px; 
    object-fit: cover;
    opacity: 80%;
}

.picture-home:hover{
    opacity: 100%;
}