.home-page{
    background-color: #f8f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.react-testing{
    margin-top: 60px ;
    color: rgb(99, 22, 22);
}

.card-home{
    margin-top: 30px;
    padding: 20px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 100px;
}

.home-link{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-link:hover{
    transform: scale(1.1);
    color: rgb(141, 83, 83);
}

.picture-home{
    border-radius: 20px;
    border: solid rgb(179, 179, 187);
    width: 230px;
    height: 350px; 
    object-fit: cover;
    opacity: 80%;
}

.picture-home:hover{
    opacity: 100%;
}