.countries-page{
    display: flex;
    flex-direction: column;
    background-color: rgb(219, 219, 219);
}

.title{
    margin-top: 110px;
    text-align: center;
    color: rgb(66, 36, 36);
font-size: 45px;
}

.CountriesHome{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.country{
    border: solid black 2px;
    max-width: 250px;
    background-color: white;
    height: 400px;
}

.flag-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 200px;
    border-bottom: solid black 1px;
}

.flag-box:hover{
    cursor: pointer;
}

.flag{
   max-width: 250px;
   max-height: 200px;
   border: solid black 1px;
}

.flag:hover{
    border: rgb(255, 166, 0) solid 2px;
    transform: scale(0.98);
    transition: 0.3s;
}


.botton-zone{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.cart-btn{
    width: 80px;
    height: 50px;
    margin-right: 10px;
}


.name-box{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name{
 letter-spacing: 1px;
 margin-bottom: 0px;
 margin-left: 10px;   
}

.sub-title{
    display: flex;
    align-items: center;
}

.tag{
    margin: 10px;
}

p{
    margin: 0px;
    color: black;
    font-weight: 500;
}