.countries-page{
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg,hsl(0deg 0% 100%), #fff79b);
}

.title-country{
    margin-top: 80px;
    text-align: center;
    text-shadow: 0 0 3px #0079ff, 0 0 5px #ff8d00;
    color: rgb(255 218 36);
    margin-bottom: 0;
    font-size: 45px;
}

.CountriesHome{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.flip{
    backface-visibility: hidden;
}

.country{
    border: solid black 2px;
    width: 250px;
    background-color: white;
    height: 400px;
    transition: 1s;
    transform-style: preserve-3d;
}

.flag-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 200px;
    border-bottom: solid black 1px;
}

.flag-box:hover{
    cursor: pointer;
}

.flag{
   max-width: 240px;
   max-height: 200px;
   border: solid black 1px;
}

.flag:hover{
    border: rgb(255, 166, 0) solid 2px;
    transform: scale(0.98);
    transition: 0.3s;
    cursor: pointer;
}


.botton-zone{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.cart-btn{
    width: 80px;
    height: 50px;
    margin-right: 10px;
}


.name-box{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name{
 letter-spacing: 1px;
 margin-bottom: 0px;
 margin-left: 10px;   
}

.sub-title{
    display: flex;
    align-items: center;
}

.tag{
    margin: 10px;
}

p{
    margin: 0px;
    color: black;
    font-weight: 500;
}

.loading{
    min-height: 100vh;
}